.calc-container {
    width: 100%;
    padding: 25px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

/* ----- HEADER ----- */
.calc-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.calc-header-container h1 {
    font-size: 1.5rem;
}
.calc-header-container > div {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    font-size: 0.6rem;
}
.theme-selector-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 10px;
}
.theme-selector-container > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 6px;

    font-size: 0.75rem;
}
.theme-selector {
    /* TODO: Add styles to theme-selector */
}

/* ----- DISPLAY ----- */
.calc-display-container {
    width: 100%;
}
.calc-display {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    border-radius: 10px;
    padding: 1.2rem;

    text-align: end;
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: 700;

    background-color: var(--color-t1-display-background);
    color: var(--color-t1-text-white);
}

/* ----- KEYPAD ----- */
.calc-keypad-container {
    width: 100%;
    padding: 1.5rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    gap: 1.3rem;

    background-color: var(--color-t1-keypad-background);
}
.calc-keypad-container > div {
    display: grid;
    column-gap: 1.1rem;
    row-gap: 1.3rem;
}
.calc-keypad-container > div:first-child {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.calc-keypad-container > div:last-child {
    grid-template-columns: repeat(2, 2fr);
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;

    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 700;
}
.btn:active {
    transform: translateY(5px);
    box-shadow: none !important;
}
.btn-big {
    padding: 20px 10px;
}

.btn-alt1 {
    background-color: var(--color-t1-key-alt1-background);
    box-shadow: 0 5px var(--color-t1-key-alt1-shadow);
    color: var(--color-t1-text-gray);
    font-size: 1.5rem;
}
.btn-alt1:active {
    background-color: var(--color-t1-key-alt1-active);
}
.btn-alt2 {
    background-color: var(--color-t1-key-alt2-background);
    box-shadow: 0 5px var(--color-t1-key-alt2-shadow);
    color: var(--color-t1-text-white);
}
.btn-alt2:active {
    background-color: var(--color-t1-key-alt2-active);
}
.btn-alt3 {
    background-color: var(--color-t1-key-alt3-background);
    box-shadow: 0 5px var(--color-t1-key-alt3-shadow);
    color: var(--color-t1-text-white);
}
.btn-alt3:active {
    background-color: var(--color-t1-key-alt3-active);
}

@media screen and (min-width: 768px) {
    .calc-container {
        width: 35%;
    }
    .btn-big {
        padding: 10px;
    }
}
